# combine the various datasets

In [77]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pyproj
import re
import os
os.chdir('/Users/simon/Desktop/uk-map/')
%matplotlib inline

In [78]:
# read in the various datasources

# conventional power sources based on DUKES table 5.11
# https://www.gov.uk/government/statistics/electricity-chapter-5-digest-of-united-kingdom-energy-statistics-dukes
# we have deliberately excluded renewables from this
# we will draw those in from other sources
# only includes "major power producers"
# only includes conventional sites >= 1MW

conv = pd.read_csv(
    'conventional-plant.csv', encoding='utf-8', lineterminator='\n')

In [79]:
# renewable sites based on REPD
# https://www.gov.uk/government/publications/renewable-energy-planning-database-monthly-extract
# includes sites >= 1MW
# also includes storage; we will take those from RenewableUK data instead

re = pd.read_csv('renewable.csv', encoding='utf-8', lineterminator='\n')

In [80]:
# small-scale renewable sites based on Ofgem FiTs installation reports:
# https://www.ofgem.gov.uk/environmental-programmes/fit/contacts-guidance-and-resources/public-reports-and-data-fit/installation-reports
# contains anonymised data for all FiTs projects in the UK

# we have excluded FiTs projects â‰¥ 1MW as likely to appear in REPD
# this amounts to 1,500MW out of around 6,000MW

# we have then aggregated the data by fuel at local authority level
# aggregates of less than 1MW are excluded in the final data
# this amounts to 101MW of capacity in 2018, out of around 4,500MW total

# post code location data from here
# https://www.freemaptools.com/download-uk-postcode-lat-lng.htm

fits = pd.read_csv('fits.csv', encoding='utf-8', lineterminator='\n')

In [81]:
# storage sites other than pumped hydro
# data from RenewableUK
# data includes estimates of storage capacity (MWh)
# therefore also shows discharge times
# these are mostly 30-60 minutes for batteries
# we're not including that in the map data but it is available

# we don't know lifetime of batteries
# this paper suggests perhaps 10 years
# https://www.nrel.gov/docs/fy17osti/67102.pdf
# here we generously assume currently operating batteries remain open in 2030

storage = pd.read_csv('storage.csv', encoding='utf-8', lineterminator='\n')

storage = storage[storage.Type != 'Pumped Hydro']
storage = storage[[
    'Site', 'Company', 'Fuel', 'Type', 'Capacity (MW)', 'Region', 'Latitude',
    'Longitude', 'Low-Carbon', 'Renewable', 'CHP', 'Year Open', 'yearStart',
    'yearEnd'
]]

In [82]:
# interconnectors
# Ofgem list:
# https://www.ofgem.gov.uk/electricity/transmission-networks/electricity-interconnectors
# location data?
# http://ec.europa.eu/energy/infrastructure/transparency_platform/map-viewer/main.html

# good ref on status as of 2018
# https://www.ifri.org/sites/default/files/atoms/files/mathieu_deane_pye_brexit_2018.pdf
# includes 3 additional projects under consideration but not yet subject to regulatory review:
# Icelink 1,200MW
# GL-NL 1,000MW
# Nautilus 1,000-1,400MW

# our spreadsheet for found location data
# https://docs.google.com/spreadsheets/d/1Nf79pKZ5Qo7ZNdvH9eWQTuTp0i5LDSTPWgWoVF15y10/edit#gid=0

In [83]:
# CHP plants
# drawn from BEIS database
# https://chptools.decc.gov.uk/chp/public

# postcodes match with a database of lat/long
# https://github.com/dwyl/uk-postcodes-latitude-longitude-complete-csv

# excludes 99 sites <1MW, totalling 25MW of capacity
# excludes 6 sites without a postcode location match totalling 25MW
# excludes three sites already in the DUKES or REPD data

chp = pd.read_csv(
    'chp.csv', encoding='utf-8', lineterminator='\n')

In [84]:
# small gas and diesel plants
# drawn from the capacity market register
# postcodes extracted for each site by Aurora Energy Research for Carbon Brief

recip = pd.read_csv('recip.csv',encoding='utf-8', lineterminator ='\n')

In [85]:
# add some classifications to some of the data

re['Low-Carbon'] = 'Yes'
re['Renewable'] = 'Yes'
re['GWh (est)'] = np.nan

fits['Low-Carbon'] = 'Yes'
fits['Renewable'] = 'Yes'
fits['GWh (est)'] = np.nan
fits['Company'] = 'Small sites aggregated at local authority level '

In [89]:
# combine the sources

uk = conv.append(re) # conventional + REPD
uk = uk.append(fits) # add FiTs
uk = uk.append(storage) # add RUK battery storage
uk = uk.append(chp) # add CHP plants

# put the columns in a nice order

uk = uk[[
    'Site', 'Company', 'Fuel', 'Type', 'Capacity (MW)', 'Latitude',
    'Longitude', 'Low-Carbon', 'CHP', 'Year Open', 'yearStart',
    'yearEnd'
]]

In [87]:
# fix lines without fuel types

uk['Fuel'][uk.Site=='Pilsworth Landfill Site'] = 'Storage'
uk['Type'][uk.Site=='Pilsworth Landfill Site'] = 'Liquified air'

uk['Fuel'][uk.Site=='United Downs Project (Geothermal)'] = 'Geothermal'

/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [88]:
# save the combined data

uk.to_csv('uk-map.csv',index=False,encoding='utf-8')

# Analysis and checks

In [26]:
uk[uk.Site.str.contains('Ironbridge')].sort_values(['Fuel','yearStart'])

,Site,Company,Fuel,Type,Capacity (MW),Latitude,Longitude,Low-Carbon,CHP,Year Open,yearStart,yearEnd
142,Ironbridge,E.On UK,Coal,NaN,940.0,52.632529,-2.512676,No,NaN,1970.0,2011.0,2012

In [90]:
for year in range(2004, 2020):
    print str(year) + ': ' + str(uk['Capacity (MW)'][(uk.yearStart <= year) & (
        uk.yearEnd >= year)].count()) + ' sites (' + str(
            uk['Capacity (MW)'][(uk.yearStart <= year) & (uk.yearEnd >= year) &
                                (uk['Capacity (MW)'] >= 50)].count()) + ' â‰¥50MW; ' + str(
            uk['Capacity (MW)'][(uk.yearStart <= year) & (uk.yearEnd >= year) &
                                (uk['Capacity (MW)'] >= 100)].count()) + ' â‰¥100MW; ' + str(
            uk['Capacity (MW)'][(uk.yearStart <= year) & (uk.yearEnd >= year) &
                                (uk['Capacity (MW)'] >= 500)].count()) + ' â‰¥500MW)' + str(
            uk['Capacity (MW)'][(uk.yearStart <= year) & (uk.yearEnd >= year) &
                                (uk['Capacity (MW)'] >= 1000)].count()) + ' â‰¥1000MW) â€“ mean ' + str(
                round(uk['Capacity (MW)'][(uk.yearStart <= year) & (
                    uk.yearEnd >= year)].mean())) + 'MW â€“ median ' + str(
                        round(uk['Capacity (MW)'][(uk.yearStart <= year) & (
                            uk.yearEnd >= year)].median())) + 'MW'

2004: 483 sites (97 â‰¥50MW; 84 â‰¥100MW; 52 â‰¥500MW)29 â‰¥1000MW) â€“ mean 156.0MW â€“ median 4.0MW
2005: 533 sites (103 â‰¥50MW; 87 â‰¥100MW; 54 â‰¥500MW)30 â‰¥1000MW) â€“ mean 149.0MW â€“ median 4.0MW
2006: 577 sites (109 â‰¥50MW; 90 â‰¥100MW; 55 â‰¥500MW)31 â‰¥1000MW) â€“ mean 142.0MW â€“ median 4.0MW
2007: 609 sites (109 â‰¥50MW; 88 â‰¥100MW; 54 â‰¥500MW)30 â‰¥1000MW) â€“ mean 133.0MW â€“ median 4.0MW
2008: 789 sites (124 â‰¥50MW; 94 â‰¥100MW; 57 â‰¥500MW)32 â‰¥1000MW) â€“ mean 110.0MW â€“ median 5.0MW
2009: 843 sites (133 â‰¥50MW; 95 â‰¥100MW; 57 â‰¥500MW)33 â‰¥1000MW) â€“ mean 104.0MW â€“ median 5.0MW
2010: 902 sites (137 â‰¥50MW; 97 â‰¥100MW; 56 â‰¥500MW)32 â‰¥1000MW) â€“ mean 98.0MW â€“ median 5.0MW
2011: 1008 sites (147 â‰¥50MW; 103 â‰¥100MW; 60 â‰¥500MW)35 â‰¥1000MW) â€“ mean 94.0MW â€“ median 5.0MW
2012: 1117 sites (158 â‰¥50MW; 109 â‰¥100MW; 61 â‰¥500MW)35 â‰¥1000MW) â€“ mean 88.0MW â€“ median 5.0MW
2013: 1344 sites (162 â‰¥50MW; 107 â‰¥100MW; 58 â‰¥500MW)31 â‰¥1000MW) â€“ mean 69.0MW â€“ median 5.0MW
2014: 1647 sites (164 â‰¥50MW; 107 â‰¥100MW; 56 â‰¥500MW)31 â‰¥1000MW) â€“ mean 56.0MW â€“ median 5.0MW
2015: 2065 sites (165 â‰¥50MW; 106 â‰¥100MW; 55 â‰¥500MW)29 â‰¥1000MW) â€“ mean 46.0MW â€“ median 5.0MW
2016: 2474 sites (171 â‰¥50MW; 104 â‰¥100MW; 56 â‰¥500MW)29 â‰¥1000MW) â€“ mean 40.0MW â€“ median 5.0MW
2017: 2768 sites (178 â‰¥50MW; 107 â‰¥100MW; 50 â‰¥500MW)26 â‰¥1000MW) â€“ mean 35.0MW â€“ median 5.0MW
2018: 2860 sites (188 â‰¥50MW; 111 â‰¥100MW; 50 â‰¥500MW)28 â‰¥1000MW) â€“ mean 35.0MW â€“ median 5.0MW
2019: 2855 sites (184 â‰¥50MW; 106 â‰¥100MW; 42 â‰¥500MW)17 â‰¥1000MW) â€“ mean 31.0MW â€“ median 5.0MW

In [91]:
print 'Renewable sites >1MW'
for year in range(2004, 2020):
    print str(year) + ': ' + str(
        uk['Capacity (MW)'][(uk.yearStart <= year) & (uk.yearEnd >= year) &
                            (uk['Low-Carbon'] == 'Yes') & (uk.Fuel != 'Nuclear')].count()
    ) + ' sites (' + str(
        uk['Capacity (MW)'][(uk.yearStart <= year) & (uk.yearEnd >= year) &
                            (uk['Capacity (MW)'] >= 50) &
                            (uk['Low-Carbon'] == 'Yes') & (uk.Fuel != 'Nuclear')].count()
    ) + ' â‰¥50MW; ' + str(
        uk['Capacity (MW)'][(uk.yearStart <= year) & (uk.yearEnd >= year) &
                            (uk['Capacity (MW)'] >= 100) &
                            (uk['Low-Carbon'] == 'Yes') & (uk.Fuel != 'Nuclear')].count()
    ) + ' â‰¥100MW; ' + str(
        uk['Capacity (MW)'][(uk.yearStart <= year) & (uk.yearEnd >= year) &
                            (uk['Capacity (MW)'] >= 500) &
                            (uk['Low-Carbon'] == 'Yes') & (uk.Fuel != 'Nuclear')].count()
    ) + ' â‰¥500MW)' + str(
        uk['Capacity (MW)'][(uk.yearStart <= year) & (uk.yearEnd >= year) &
                            (uk['Capacity (MW)'] >= 1000) &
                           (uk['Low-Carbon'] == 'Yes') & (uk.Fuel != 'Nuclear')].count()
    ) + ' â‰¥1000MW) â€“ mean ' + str(
        round(
            uk['Capacity (MW)'][(uk.yearStart <= year) & (uk.yearEnd >= year) &
                                (uk['Low-Carbon'] == 'Yes') & (uk.Fuel != 'Nuclear')].mean())
    ) + 'MW â€“ median ' + str(
        round(
            uk['Capacity (MW)'][(uk.yearStart <= year) & (uk.yearEnd >= year) &
                                (uk['Low-Carbon'] == 'Yes') & (uk.Fuel != 'Nuclear')].median())) + 'MW'

Renewable sites >1MW
2004: 376 sites (12 â‰¥50MW; 5 â‰¥100MW; 1 â‰¥500MW)1 â‰¥1000MW) â€“ mean 14.0MW â€“ median 3.0MW
2005: 422 sites (15 â‰¥50MW; 5 â‰¥100MW; 1 â‰¥500MW)1 â‰¥1000MW) â€“ mean 14.0MW â€“ median 3.0MW
2006: 465 sites (20 â‰¥50MW; 7 â‰¥100MW; 1 â‰¥500MW)1 â‰¥1000MW) â€“ mean 15.0MW â€“ median 3.0MW
2007: 501 sites (24 â‰¥50MW; 8 â‰¥100MW; 1 â‰¥500MW)1 â‰¥1000MW) â€“ mean 16.0MW â€“ median 3.0MW
2008: 552 sites (30 â‰¥50MW; 9 â‰¥100MW; 1 â‰¥500MW)1 â‰¥1000MW) â€“ mean 16.0MW â€“ median 3.0MW
2009: 600 sites (35 â‰¥50MW; 10 â‰¥100MW; 1 â‰¥500MW)1 â‰¥1000MW) â€“ mean 16.0MW â€“ median 4.0MW
2010: 656 sites (38 â‰¥50MW; 12 â‰¥100MW; 1 â‰¥500MW)1 â‰¥1000MW) â€“ mean 17.0MW â€“ median 4.0MW
2011: 755 sites (43 â‰¥50MW; 14 â‰¥100MW; 1 â‰¥500MW)1 â‰¥1000MW) â€“ mean 16.0MW â€“ median 4.0MW
2012: 863 sites (54 â‰¥50MW; 22 â‰¥100MW; 3 â‰¥500MW)1 â‰¥1000MW) â€“ mean 18.0MW â€“ median 4.0MW
2013: 1103 sites (68 â‰¥50MW; 29 â‰¥100MW; 6 â‰¥500MW)1 â‰¥1000MW) â€“ mean 18.0MW â€“ median 5.0MW
2014: 1409 sites (72 â‰¥50MW; 30 â‰¥100MW; 4 â‰¥500MW)2 â‰¥1000MW) â€“ mean 16.0MW â€“ median 5.0MW
2015: 1835 sites (77 â‰¥50MW; 33 â‰¥100MW; 5 â‰¥500MW)2 â‰¥1000MW) â€“ mean 15.0MW â€“ median 5.0MW
2016: 2242 sites (84 â‰¥50MW; 32 â‰¥100MW; 5 â‰¥500MW)2 â‰¥1000MW) â€“ mean 14.0MW â€“ median 5.0MW
2017: 2549 sites (98 â‰¥50MW; 40 â‰¥100MW; 5 â‰¥500MW)2 â‰¥1000MW) â€“ mean 14.0MW â€“ median 5.0MW
2018: 2645 sites (107 â‰¥50MW; 45 â‰¥100MW; 6 â‰¥500MW)2 â‰¥1000MW) â€“ mean 15.0MW â€“ median 5.0MW
2019: 2655 sites (118 â‰¥50MW; 55 â‰¥100MW; 11 â‰¥500MW)4 â‰¥1000MW) â€“ mean 18.0MW â€“ median 5.0MW

In [92]:
print 'Fossil / nuclear'
for year in range(2004, 2020):
    print str(year) + ': ' + str(
        uk['Capacity (MW)'][(uk.yearStart <= year) & (uk.yearEnd >= year) &
                            ((uk['Low-Carbon'] == 'No') | (uk.Fuel == 'Nuclear'))].count()
    ) + ' sites (' + str(
        uk['Capacity (MW)'][(uk.yearStart <= year) & (uk.yearEnd >= year) &
                            (uk['Capacity (MW)'] >= 50) &
                            ((uk['Low-Carbon'] == 'No') | (uk.Fuel == 'Nuclear'))].count()
    ) + ' â‰¥50MW; ' + str(
        uk['Capacity (MW)'][(uk.yearStart <= year) & (uk.yearEnd >= year) &
                            (uk['Capacity (MW)'] >= 100) &
                            ((uk['Low-Carbon'] == 'No') | (uk.Fuel == 'Nuclear'))].count()
    ) + ' â‰¥100MW; ' + str(
        uk['Capacity (MW)'][(uk.yearStart <= year) & (uk.yearEnd >= year) &
                            (uk['Capacity (MW)'] >= 500) &
                            ((uk['Low-Carbon'] == 'No') | (uk.Fuel == 'Nuclear'))].count()
    ) + ' â‰¥500MW)' + str(
        uk['Capacity (MW)'][(uk.yearStart <= year) & (uk.yearEnd >= year) &
                            (uk['Capacity (MW)'] >= 1000) &
                           ((uk['Low-Carbon'] == 'No') | (uk.Fuel == 'Nuclear'))].count()
    ) + ' â‰¥1000MW) â€“ mean ' + str(
        round(
            uk['Capacity (MW)'][(uk.yearStart <= year) & (uk.yearEnd >= year) &
                                ((uk['Low-Carbon'] == 'No') | (uk.Fuel == 'Nuclear'))].mean())
    ) + 'MW â€“ median ' + str(
        round(
            uk['Capacity (MW)'][(uk.yearStart <= year) & (uk.yearEnd >= year) &
                                ((uk['Low-Carbon'] == 'No') | (uk.Fuel == 'Nuclear'))].median())) + 'MW'

Fossil / nuclear
2004: 107 sites (85 â‰¥50MW; 79 â‰¥100MW; 51 â‰¥500MW)28 â‰¥1000MW) â€“ mean 652.0MW â€“ median 434.0MW
2005: 111 sites (88 â‰¥50MW; 82 â‰¥100MW; 53 â‰¥500MW)29 â‰¥1000MW) â€“ mean 663.0MW â€“ median 434.0MW
2006: 112 sites (89 â‰¥50MW; 83 â‰¥100MW; 54 â‰¥500MW)30 â‰¥1000MW) â€“ mean 668.0MW â€“ median 442.0MW
2007: 108 sites (85 â‰¥50MW; 80 â‰¥100MW; 53 â‰¥500MW)29 â‰¥1000MW) â€“ mean 677.0MW â€“ median 427.0MW
2008: 237 sites (94 â‰¥50MW; 85 â‰¥100MW; 56 â‰¥500MW)31 â‰¥1000MW) â€“ mean 329.0MW â€“ median 15.0MW
2009: 243 sites (98 â‰¥50MW; 85 â‰¥100MW; 56 â‰¥500MW)32 â‰¥1000MW) â€“ mean 321.0MW â€“ median 15.0MW
2010: 246 sites (99 â‰¥50MW; 85 â‰¥100MW; 55 â‰¥500MW)31 â‰¥1000MW) â€“ mean 314.0MW â€“ median 16.0MW
2011: 253 sites (104 â‰¥50MW; 89 â‰¥100MW; 59 â‰¥500MW)34 â‰¥1000MW) â€“ mean 326.0MW â€“ median 17.0MW
2012: 254 sites (104 â‰¥50MW; 87 â‰¥100MW; 58 â‰¥500MW)34 â‰¥1000MW) â€“ mean 325.0MW â€“ median 18.0MW
2013: 241 sites (94 â‰¥50MW; 78 â‰¥100MW; 52 â‰¥500MW)30 â‰¥1000MW) â€“ mean 298.0MW â€“ median 15.0MW
2014: 238 sites (92 â‰¥50MW; 77 â‰¥100MW; 52 â‰¥500MW)29 â‰¥1000MW) â€“ mean 293.0MW â€“ median 13.0MW
2015: 230 sites (88 â‰¥50MW; 73 â‰¥100MW; 50 â‰¥500MW)27 â‰¥1000MW) â€“ mean 292.0MW â€“ median 13.0MW
2016: 232 sites (87 â‰¥50MW; 72 â‰¥100MW; 51 â‰¥500MW)27 â‰¥1000MW) â€“ mean 290.0MW â€“ median 10.0MW
2017: 219 sites (80 â‰¥50MW; 67 â‰¥100MW; 45 â‰¥500MW)24 â‰¥1000MW) â€“ mean 273.0MW â€“ median 10.0MW
2018: 215 sites (81 â‰¥50MW; 66 â‰¥100MW; 44 â‰¥500MW)26 â‰¥1000MW) â€“ mean 275.0MW â€“ median 10.0MW
2019: 200 sites (66 â‰¥50MW; 51 â‰¥100MW; 31 â‰¥500MW)13 â‰¥1000MW) â€“ mean 206.0MW â€“ median 9.0MW

In [93]:
print 'Coal'
for year in range(2004, 2020):
    print str(year) + ': ' + str(
        uk['Capacity (MW)'][(uk.yearStart <= year) & (uk.yearEnd >= year) &
                            ((uk['Low-Carbon'] == 'No') & (uk.Fuel == 'Coal'))].count()
    ) + ' sites (' + str(
        uk['Capacity (MW)'][(uk.yearStart <= year) & (uk.yearEnd >= year) &
                            (uk['Capacity (MW)'] >= 50) &
                           ((uk['Low-Carbon'] == 'No') & (uk.Fuel == 'Coal'))].count()
    ) + ' â‰¥50MW; ' + str(
        uk['Capacity (MW)'][(uk.yearStart <= year) & (uk.yearEnd >= year) &
                            (uk['Capacity (MW)'] >= 100) &
                            ((uk['Low-Carbon'] == 'No') & (uk.Fuel == 'Coal'))].count()
    ) + ' â‰¥100MW; ' + str(
        uk['Capacity (MW)'][(uk.yearStart <= year) & (uk.yearEnd >= year) &
                            (uk['Capacity (MW)'] >= 500) &
                            ((uk['Low-Carbon'] == 'No') & (uk.Fuel == 'Coal'))].count()
    ) + ' â‰¥500MW)' + str(
        uk['Capacity (MW)'][(uk.yearStart <= year) & (uk.yearEnd >= year) &
                            (uk['Capacity (MW)'] >= 1000) &
                           ((uk['Low-Carbon'] == 'No') & (uk.Fuel == 'Coal'))].count()
    ) + ' â‰¥1000MW) â€“ mean ' + str(
        round(
            uk['Capacity (MW)'][(uk.yearStart <= year) & (uk.yearEnd >= year) &
                                ((uk['Low-Carbon'] == 'No') & (uk.Fuel == 'Coal'))].mean())
    ) + 'MW â€“ median ' + str(
        round(
            uk['Capacity (MW)'][(uk.yearStart <= year) & (uk.yearEnd >= year) &
                               ((uk['Low-Carbon'] == 'No') & (uk.Fuel == 'Coal'))].median())) + 'MW'

Coal
2004: 18 sites (18 â‰¥50MW; 18 â‰¥100MW; 16 â‰¥500MW)14 â‰¥1000MW) â€“ mean 1604.0MW â€“ median 1933.0MW
2005: 18 sites (18 â‰¥50MW; 18 â‰¥100MW; 16 â‰¥500MW)14 â‰¥1000MW) â€“ mean 1605.0MW â€“ median 1940.0MW
2006: 18 sites (18 â‰¥50MW; 18 â‰¥100MW; 16 â‰¥500MW)14 â‰¥1000MW) â€“ mean 1605.0MW â€“ median 1940.0MW
2007: 18 sites (18 â‰¥50MW; 18 â‰¥100MW; 16 â‰¥500MW)14 â‰¥1000MW) â€“ mean 1607.0MW â€“ median 1948.0MW
2008: 18 sites (18 â‰¥50MW; 18 â‰¥100MW; 16 â‰¥500MW)14 â‰¥1000MW) â€“ mean 1614.0MW â€“ median 1948.0MW
2009: 18 sites (18 â‰¥50MW; 18 â‰¥100MW; 16 â‰¥500MW)14 â‰¥1000MW) â€“ mean 1616.0MW â€“ median 1949.0MW
2010: 19 sites (19 â‰¥50MW; 19 â‰¥100MW; 16 â‰¥500MW)14 â‰¥1000MW) â€“ mean 1546.0MW â€“ median 1940.0MW
2011: 20 sites (20 â‰¥50MW; 20 â‰¥100MW; 17 â‰¥500MW)15 â‰¥1000MW) â€“ mean 1565.0MW â€“ median 1949.0MW
2012: 19 sites (19 â‰¥50MW; 19 â‰¥100MW; 16 â‰¥500MW)14 â‰¥1000MW) â€“ mean 1592.0MW â€“ median 1958.0MW
2013: 14 sites (14 â‰¥50MW; 14 â‰¥100MW; 11 â‰¥500MW)10 â‰¥1000MW) â€“ mean 1534.0MW â€“ median 1960.0MW
2014: 13 sites (13 â‰¥50MW; 13 â‰¥100MW; 11 â‰¥500MW)9 â‰¥1000MW) â€“ mean 1505.0MW â€“ median 1960.0MW
2015: 12 sites (12 â‰¥50MW; 12 â‰¥100MW; 11 â‰¥500MW)9 â‰¥1000MW) â€“ mean 1611.0MW â€“ median 1961.0MW
2016: 9 sites (9 â‰¥50MW; 9 â‰¥100MW; 9 â‰¥500MW)8 â‰¥1000MW) â€“ mean 1670.0MW â€“ median 1960.0MW
2017: 9 sites (9 â‰¥50MW; 9 â‰¥100MW; 8 â‰¥500MW)7 â‰¥1000MW) â€“ mean 1584.0MW â€“ median 1960.0MW
2018: 9 sites (9 â‰¥50MW; 9 â‰¥100MW; 8 â‰¥500MW)7 â‰¥1000MW) â€“ mean 1532.0MW â€“ median 1960.0MW
2019: 0 sites (0 â‰¥50MW; 0 â‰¥100MW; 0 â‰¥500MW)0 â‰¥1000MW) â€“ mean nanMW â€“ median nanMW

In [76]:
uk[uk.Fuel=='Coal']

,Site,Company,Fuel,Type,Capacity (MW),Latitude,Longitude,Low-Carbon,CHP,Year Open,yearStart,yearEnd
1,Aberthaw B,RWE Npower Plc,Coal,NaN,1455.0,51.387006,-3.406215,No,NaN,1971.0,2004.0,2007
2,Aberthaw B,RWE Npower Plc,Coal,NaN,1586.0,51.387006,-3.406215,No,NaN,1971.0,2008.0,2017
3,Aberthaw B,RWE Generation SE,Coal,NaN,1610.0,51.387006,-3.406215,No,NaN,1971.0,2018.0,2018
49,Cockenzie,Scottish Power,Coal,NaN,1152.0,55.968323,-2.972481,No,NaN,1967.0,2004.0,2012
61,Cottam,EDF Energy,Coal,NaN,2008.0,53.304764,-0.780451,No,NaN,1969.0,2004.0,2018
76,Didcot A,RWE Innogy Plc,Coal,NaN,1925.0,51.622252,-1.260853,No,NaN,1972.0,2004.0,2004
77,Didcot A,RWE Npower Plc,Coal,NaN,1940.0,51.622252,-1.260853,No,NaN,1972.0,2005.0,2006
78,Didcot A,RWE Npower Plc,Coal,NaN,1958.0,51.622252,-1.260853,No,NaN,1972.0,2007.0,2012
85,Drax,Drax Power Ltd,Coal,NaN,3870.0,53.737546,-0.999021,No,NaN,1974.0,2004.0,2012
91,Drax coal,Drax Power Ltd,Coal,NaN,3225.0,53.737546,-0.999021,No,NaN,1974.0,2013.0,2013
92,Drax coal,Drax Power Ltd,Coal,NaN,2580.0,53.737546,-0.999021,No,NaN,1974.0,2014.0,2015
93,Drax coal,Drax Power Ltd,Coal,NaN,1935.0,53.737546,-0.999021,No,NaN,1974.0,2016.0,2017
94,Drax coal,Drax Power Ltd,Coal,NaN,1290.0,53.737546,-0.999021,No,NaN,1974.0,2018.0,2018
103,Eggborough,Eggborough Power Ltd,Coal,NaN,1960.0,53.712671,-1.124850,No,NaN,1967.0,2004.0,2018
117,Ferrybridge C,Scottish & Southern Energy plc,Coal,NaN,1955.0,53.715638,-1.280574,No,NaN,1966.0,2004.0,2008
118,Ferrybridge C,Scottish and Southern,Coal,NaN,1960.0,53.715638,-1.280574,No,NaN,1966.0,2009.0,2013
119,Ferrybridge C,SSE Toddleburn Limited,Coal,NaN,980.0,53.715638,-1.280574,No,NaN,1966.0,2014.0,2015
122,Fiddlerâ€™s Ferry,SSE,Coal,NaN,1961.0,53.371950,-2.686922,No,NaN,1971.0,2004.0,2018
127,Fifoots Point,AES Fifoots Point Ltd,Coal,NaN,393.0,51.549631,-2.972258,No,NaN,2000.0,2004.0,2004
182,Ironbridge,E.On UK,Coal,NaN,970.0,52.632529,-2.512676,No,NaN,1970.0,2004.0,2010
183,Ironbridge,E.On UK,Coal,NaN,940.0,52.632529,-2.512676,No,NaN,1970.0,2011.0,2012
198,Kilroot,AES,Coal,NaN,560.0,54.725333,-5.766401,No,NaN,1981.0,2004.0,2018
203,Kingsnorth,E.On UK,Coal,NaN,1940.0,51.416713,0.603039,No,NaN,1970.0,2004.0,2012
231,Longannet,Scottish Power,Coal,NaN,2304.0,56.048549,-3.682552,No,NaN,1970.0,2004.0,2013
232,Longannet,Scottish Power,Coal,NaN,2260.0,56.048549,-3.682552,No,NaN,1970.0,2014.0,2015
233,Lynemouth,Lynemouth Power Ltd,Coal,NaN,420.0,55.204750,-1.520356,No,NaN,1972.0,2004.0,2015
254,Ratcliffe,Uniper UK Limited,Coal,NaN,2000.0,52.865936,-1.254693,No,NaN,1968.0,2004.0,2017
255,Ratcliffe,E.On UK,Coal,NaN,1960.0,52.865936,-1.254693,No,NaN,1968.0,2011.0,2012
256,Ratcliffe,Uniper UK Limited,Coal,NaN,2021.0,52.865936,-1.254693,No,NaN,1968.0,2018.0,2018
262,Rugeley,ENGIE,Coal,NaN,1006.0,52.756961,-1.916389,No,NaN,1972.0,2004.0,2016
325,Tilbury B,RWE Innogy Plc,Coal,NaN,1020.0,51.456521,0.388119,No,NaN,1968.0,2004.0,2004
326,Tilbury B,RWE Npower Plc,Coal,NaN,1029.0,51.456521,0.388119,No,NaN,1968.0,2005.0,2006
327,Tilbury B,RWE Npower Plc,Coal,NaN,1038.0,51.456521,0.388119,No,NaN,1968.0,2007.0,2007
328,Tilbury B,RWE Npower Plc,Coal,NaN,1063.0,51.456521,0.388119,No,NaN,1968.0,2008.0,2011
339,Uskmouth,Uskmouth Power Company Ltd,Coal,NaN,393.0,51.549700,-2.969885,No,NaN,2000.0,2005.0,2007
340,Uskmouth,Scottish and Southern,Coal,NaN,363.0,51.549700,-2.969885,No,NaN,2000.0,2008.0,2012
341,Uskmouth,Scottish and Southern,Coal,NaN,240.0,51.549700,-2.969885,No,NaN,2000.0,2013.0,2013
342,Uskmouth Power,SIMEC,Coal,NaN,230.0,51.548759,-2.969559,No,NaN,1966.0,2017.0,2017
343,Uskmouth Power,SIMEC,Coal,NaN,363.0,51.548759,-2.969559,No,NaN,1966.0,2018.0,2018
345,West Burton,EDF Energy,Coal,NaN,1972.0,53.362719,-0.811836,No,NaN,1967.0,2004.0,2008
346,West Burton,EDF Energy,Coal,NaN,2012.0,53.362719,-0.811836,No,NaN,1967.0,2009.0,2018
357,Wilton Power Station,Sembcorp Utilities Ltd,Coal,NaN,280.0,54.589400,-1.118500,No,NaN,1952.0,2010.0,2012
358,Wilton Power Station,Sembcorp Utilities Ltd,Coal,NaN,238.0,54.589400,-1.118500,No,NaN,1952.0,2013.0,2014

In [48]:
uk[(uk.yearStart <= 2008) & (uk.yearEnd >= 2008) &
                            ((uk['Low-Carbon'] == 'No') & (uk.Fuel == 'Coal'))]

,Site,Company,Fuel,Type,Capacity (MW),Latitude,Longitude,Low-Carbon,CHP,Year Open,yearStart,yearEnd
1,Aberthaw B,RWE Npower Plc,Coal,NaN,1586.0,51.387006,-3.406215,No,NaN,1971.0,2008.0,2017
48,Cottam,EDF Energy,Coal,NaN,2008.0,53.304764,-0.780451,No,NaN,1969.0,2004.0,2018
68,Drax,Drax Power Ltd,Coal,NaN,3870.0,53.737546,-0.999021,No,NaN,1974.0,2004.0,2012
82,Eggborough,Eggborough Power Ltd,Coal,NaN,1960.0,53.712671,-1.124850,No,NaN,1967.0,2004.0,2018
92,Ferrybridge C,Scottish & Southern Energy plc,Coal,NaN,1955.0,53.715638,-1.280574,No,NaN,1966.0,2004.0,2008
96,Fiddlerâ€™s Ferry,SSE,Coal,NaN,1961.0,53.371950,-2.686922,No,NaN,1971.0,2004.0,2018
162,Kilroot,AES,Coal,NaN,560.0,54.725333,-5.766401,No,NaN,1981.0,2004.0,2018
166,Kingsnorth,E.On UK,Coal,NaN,1940.0,51.416713,0.603039,No,NaN,1970.0,2004.0,2012
188,Longannet,Scottish Power,Coal,NaN,2304.0,56.048549,-3.682552,No,NaN,1970.0,2004.0,2013
190,Lynemouth,Lynemouth Power Ltd,Coal,NaN,420.0,55.204750,-1.520356,No,NaN,1972.0,2004.0,2015
211,Ratcliffe,Uniper UK Limited,Coal,NaN,2000.0,52.865936,-1.254693,No,NaN,1968.0,2004.0,2017
219,Rugeley,ENGIE,Coal,NaN,1006.0,52.756961,-1.916389,No,NaN,1972.0,2004.0,2016
285,Tilbury B,RWE Npower Plc,Coal,NaN,1063.0,51.456521,0.388119,No,NaN,1968.0,2008.0,2011
297,Uskmouth,Scottish and Southern,Coal,NaN,363.0,51.549700,-2.969885,No,NaN,2000.0,2008.0,2012
302,West Burton,EDF Energy,Coal,NaN,1972.0,53.362719,-0.811836,No,NaN,1967.0,2004.0,2008

In [12]:
uk[uk.Longitude < -10]

Empty DataFrame
Columns: [Site, Company, Fuel, Type, Capacity (MW), Latitude, Longitude, Low-Carbon, CHP, Year Open, yearStart, yearEnd]
Index: []

In [27]:
uk[uk.Fuel.isnull()]

Empty DataFrame
Columns: [Site, Company, Fuel, Type, Capacity (MW), Latitude, Longitude, Low-Carbon, CHP, Year Open, yearStart, yearEnd]
Index: []

In [ ]:
# some bits of random analysis

In [13]:
uk[uk.Site=='Cornwall'].head()

Empty DataFrame
Columns: [Site, Company, Fuel, Type, Capacity (MW), Latitude, Longitude, Low-Carbon, CHP, Year Open, yearStart, yearEnd]
Index: []

In [26]:
uk[uk.Type=='Battery'].pivot_table(index='yearStart',values='Capacity (MW)',aggfunc='sum')

           Capacity (MW)
yearStart
2006               0.005
2008               0.076
2009               0.012
2013               2.295
2014               5.750
2015               0.295
2016              10.595
2017              49.000
2018             246.000
2019              16.500

In [27]:
uk[uk.Type=='Battery'].sort_values(by='Capacity (MW)',ascending=False)

,Site,Company,Fuel,Type,Capacity (MW),Region,Latitude,Longitude,Low-Carbon,Renewable,CHP,Year Open,yearStart,yearEnd
2569,Huggin's Hall,Low Carbon,Storage,Battery,50.000,South East,51.093574,0.508258,Yes,Yes,n/a,2018.0,2018,2019
2565,West Burton,EDF Energy Renewables,Storage,Battery,49.000,East Midlands,53.364529,-0.798356,Yes,Yes,n/a,2018.0,2018,2019
2563,Roosecote,Centrica,Storage,Battery,49.000,North West,54.105223,-3.190031,Yes,Yes,n/a,2018.0,2018,2019
2562,Pelham,Statera Energy/ InfraRed Capital,Storage,Battery,49.000,Eastern,51.937437,0.119184,Yes,Yes,n/a,2017.0,2017,2019
2566,Tynemouth Energy Storage System (TESS),Enel (formerly Element Power),Storage,Battery,25.000,North East,55.025976,-1.503105,Yes,Yes,n/a,2018.0,2018,2019
2568,Pen y Cymoedd Energy Storage,Vattenfall,Storage,Battery,22.000,Wales,51.655543,-3.695730,Yes,Yes,n/a,2018.0,2018,2019
2570,Land at Carnegie Road,Ã˜rsted,Storage,Battery,20.000,North West,53.419931,-2.927637,Yes,Yes,n/a,2018.0,2018,2019
2542,AES Kilroot Station Battery Storage Array,AES Kilroot Power (AES KPL),Storage,Battery,10.000,Northern Ireland,54.724407,-5.767212,Yes,Yes,n/a,2016.0,2016,2019
2656,Blackburn Meadows,E.On,Storage,Battery,10.000,Yorkshire and Humber,53.420135,-1.398460,Yes,Yes,n/a,NaN,2019,2019
2571,Cleator,Low Carbon Storage Investment Company/ VLC,Storage,Battery,10.000,North West,54.503359,-3.529301,Yes,Yes,n/a,2018.0,2018,2019
2567,Nevendon,Belectric UK / Foresight,Storage,Battery,10.000,Eastern,51.593336,0.494883,Yes,Yes,n/a,2018.0,2018,2019
2564,Leverton Farm - Energy Barn,Eelpower,Storage,Battery,10.000,East Midlands,53.259955,-0.564030,Yes,Yes,n/a,2018.0,2018,2019
2657,Dorking Battery Energy Storage System,Grid Battery Storage (GBSL),Storage,Battery,6.000,South East,51.230436,-0.354811,Yes,Yes,n/a,NaN,2019,2019
2551,"Rise Carr, Darlington / CLNR EES3-1",Northern Powergrid,Storage,Battery,2.500,North East,54.546274,-1.559173,Yes,Yes,n/a,2014.0,2014,2019
2543,EPSRC Willenhall,University of Sheffield/ Eon/ Uniper,Storage,Battery,2.000,West Midlands,52.585013,-2.057636,Yes,Yes,n/a,2014.0,2014,2019
2552,Orkney Storage Park Project,Scottish Hydroelectric Power Distribution (SHEPD),Storage,Battery,2.000,Scotland,58.984286,-2.962435,Yes,Yes,n/a,2013.0,2013,2019
2559,Hywind 2,Statoil,Storage,Battery,1.000,Scotland,57.507463,-1.442575,Yes,Yes,n/a,2018.0,2018,2019
2550,Northern Isles New Energy Solution (NINES) 1,Scottish Hydroelectric Power Distribution (SHEPD),Storage,Battery,1.000,Scotland,60.166964,-1.164717,Yes,Yes,n/a,2014.0,2014,2019
2658,Trent Basin Community Battery,EvoEnergy,Storage,Battery,0.500,East Midlands,52.943351,-1.122957,Yes,Yes,n/a,NaN,2019,2019
2557,Higher Hill Farm Energy Storage,British Solar Renewables / Western Power Distr...,Storage,Battery,0.300,South West,51.079382,-2.695538,Yes,Yes,n/a,2016.0,2016,2019
2556,Limberlost Solar Farm,Anesco,Storage,Battery,0.250,South East,51.381113,-1.232508,Yes,Yes,n/a,2015.0,2015,2019
2555,Slepe Farm,Farm Power Apollo/ Anesco,Storage,Battery,0.250,South West,50.739014,-2.101203,Yes,Yes,n/a,2014.0,2014,2019
2553,Falcon Project,Western Power Distribution,Storage,Battery,0.250,South East,52.040624,-0.759422,Yes,Yes,n/a,2013.0,2013,2019
2560,Western International Market (WIM) Site,London Borough of Hounslow,Storage,Battery,0.240,London,51.496154,-0.408174,Yes,Yes,n/a,2016.0,2016,2019
2547,Isle of Eigg Electrification Project,Eigg Electric,Storage,Battery,0.060,Scotland,56.899526,-6.141617,Yes,Yes,n/a,2008.0,2008,2019
2558,The Everest System,Connected Energy,Storage,Battery,0.050,Eastern,52.561638,1.180018,Yes,Yes,n/a,2016.0,2016,2019
2549,Isle of Rum Microgrid Project,Wind & Sun,Storage,Battery,0.045,Scotland,57.009477,-6.323878,Yes,Yes,n/a,2015.0,2015,2019
2548,Isle of Muck Microgrid System,Wind & Sun,Storage,Battery,0.045,Scotland,56.835812,-6.238438,Yes,Yes,n/a,2013.0,2013,2019
2545,Foula Community Electricity Scheme,Foula Community Electricity Trust,Storage,Battery,0.016,Scotland,60.135006,-2.054350,Yes,Yes,n/a,2008.0,2008,2019
2546,Horse Island Microgrid Project,Wind & Sun,Storage,Battery,0.012,Scotland,57.987532,-5.344452,Yes,Yes,n/a,2009.0,2009,2019
2561,JB Wheaton,E.On,Storage,Battery,0.005,South West,50.840997,-2.935433,Yes,Yes,n/a,2016.0,2016,2019
2544,Flat Holm Microgrid Project,Wind & Sun,Storage,Battery,0.005,Wales,51.378056,-3.122498,Yes,Yes,n/a,2006.0,2006,2019

In [49]:
uk['Capacity (MW)'][(uk.Fuel=='Wind')&(uk.yearEnd==2018)].sum()

1117.751

In [54]:
uk[uk.Site.str.contains('sund')]

,Site,Company,Fuel,Type,Capacity (MW),Latitude,Longitude,Low-Carbon,CHP,Year Open,yearStart,yearEnd
13,Iggesund Paperboard CHP Plant,Iggesund Paperboard (Workington),Biomass,NaN,49.0,54.663976,-3.547331,Yes,Yes,2013.0,2013.0,2019
50,Iggesund Paperboard (Workington) Ltd,NaN,Biomass,NaN,49.9,NaN,NaN,Yes,Yes,NaN,2008.0,2019